@model MarketItem
@{
    ViewData["Title"] = "Item Page";
}

<div class="text-center">
    <h1 class="display-2">@Model.ItemName</h1>
    <p class="m-4">
        Welcome to the Item Page!<br />
        Where the Current Item's Information Will be Displayed.
    </p>
</div>
<strong>@ViewBag.ErrorMessage</strong>
<hr />

<div class="col-md-7 container" style="border:1px solid">
    <p class="mt-3">
        <!--
            These are filled with the inputted MarketItem
            related fields.
        -->
        <strong>Item Price:</strong> $@Model.ItemPrice.ToString("0.00")<br />
        <strong>Lister Name:</strong> @Model.Lister.UserName<br />
        <strong>Item Delivery Type:</strong> @Model.DeliveryType<br />
        <strong>Item Listed:</strong> @Model.DateListed.ToString("MM/d/yyyy h:mm:ss tt")<br />
        <br />
        <strong>Street Address:</strong> @Model.ItemLocation.StreetAddress<br />
        <strong>City:</strong> @Model.ItemLocation.City<br />
        <strong>State:</strong> @Model.ItemLocation.State<br />
        <strong>Zip Code:</strong> @Model.ItemLocation.ZipCode<br />
        <strong>Country:</strong> @Model.ItemLocation.Country
    </p>
    <!--
        This form sends the MarketItemId value from the hidden
        input to the Delete method in the MarketplaceController,
        deleting the related record and send the user to the Index.
    -->
    <form method="post" action="/Marketplace/Delete">
        <div class="row p-2 justify-content-center">
            <input type="hidden" name="id" value="@Model.MarketItemId" />
            <button type="submit" class="w-25 form-control btn btn-success ">Buy</button>
        </div>
    </form>
</div>